html {
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    line-height: 3.3em;
    width: 100%;
    padding: 0 1em;
    background: #D95B43;
    z-index: 10;
}

header .logo {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: -1px;
}

header .show-bookmarks {
    float: right;
    font-size: 1.2em;
    letter-spacing: 0;
    line-height: 0;
    margin: 1em 0;
    padding: .05em;
}

header .show-bookmarks.active {
    border-bottom: 2px solid #fff;
}

#overlay-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#overlay-curtain.visible {
    opacity: 0.6;
    visibility: visible;
}

#email-signup-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 220px;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px 10px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 55;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

#email-signup-overlay p {
    margin: 0 0 20px;
    font-size: 14px;
}

#email-signup-overlay label,
#email-signup-overlay input {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#email-signup-overlay label {
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 5px;
}

#email-signup-overlay input {
    font-size: 1.4em;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 0 10px;
    -webkit-appearance: none;
}

#email-signup-overlay input[type=submit] {
    background: #D95B43;
    border: 0;
    color: #fff;
}

#email-signup-overlay.visible {
    visibility: visible;
    opacity: 1;
}

.close-lightbox {
    position: absolute;
    top: -30px;
    right: 0px;
    font-size: 1.6em;
    color: #fff;
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0 0 10px;
}

.btn {
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
}

.btn-signup-toggle {
    float: right;
    border: 1px solid #fff;
    color: #fff;
    margin: 10px 0 0;
}

.icon-bookmark,
.icon-bookmark-o {
    position: relative;
    top: 2px;
}

.inner-content {
    padding: 1.3em;
    font-size: .85em;
}

.no-bookmarks {
    text-align: center;
    font-size: 1.1em;
}

.no-bookmarks h2 {
    font-size: 1.6em;
    font-weight: 700;
    margin: 0 0 .25em;
}

#articles {
    width: 100%;
    padding-top: 58px;
}

#sidebar {
    display: none;
    width: 30%;
    float: left;
    padding-top: 1.3em;
}

.breaker-ad {
    width: 100%;
    text-align: center;
    padding: 10px 0 20px;
    background: #efefef;
}

.breaker-ad p {
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 0 4px;
    letter-spacing: 1px;
    color: #999;
}

.breaker-ad img {
    max-width: 100%;
}

.article {
    position: relative;
    padding: 1.3em 1em;
    display: block;
    border-bottom: 1px solid #eee;
}

.article .article-share-sheet {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    width: 100%;
    height: 100%;
    display: none;
}

.article .article-share-sheet.visible {
    display: block;
}

.article .article-share-sheet .share-links-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 80px;
    margin: auto;
    line-height: 1.4em;
}

.article .article-share-sheet .close-article-share {
    font-size: 1.6em;
}

.article .article-share-sheet a {
    font-size: 3em;
    color: #222;
    padding: 0.15em;
}

.article .article-share-sheet a:hover {
    color: #D95B43;
}

.article .article-link {
    color: inherit;
    display: block;
}

.article .article-link:hover {
    color: #777;
}

.article + .article {
    border-top: 1px solid #eee;
}

.article .title {
    font-size: 1.4em;
    color: #222;
    font-weight: 500;
}

.article .description {
    color: #555;
    margin: .3em 0;
    line-height: 1.2em;
}

.article .meta {
    font-size: .875em;
    color: #888;
}

.article .actions {
    font-size: .75em;
}

.article .actions i {
    font-size: 2em;
    margin-right: .25em;
    position: relative;
    top: 5px;
}

.article .actions .show-article-share i {
    font-size: 1.83333em;
}

.article .meta a {
    color: #D95B43;
}

.no-bookmarks .bookmark-icon,
.article .meta .bookmark-article i {
    color: #D95B43;
    font-size: 1.5em;
}

.article .meta .bookmark-article.bookmarked i {
    color: #D95B43;
}

.article .meta a + a {
    margin-left: 1.5em;
}

#load-more {
    display: block;
    width: 50%;
    margin: 2em auto 0;
    padding: .75em;
    background: #53777A;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: .875em;
    letter-spacing: 1px;
}

footer {
    text-align: center;
    clear: both;
    margin: 2em 0 0;
    line-height: 2.5em;
    font-size: .8em;
    border-top: 2px solid #ccc;
}

/** iPhone + iPad **/
@media (max-width: 1024px) {
    .article .article-link {
        line-height: 1.1em;
    }

    .article .article-share-sheet .share-links-container {
        height: 115px;
        line-height: 2.6em;
    }

    .article .article-share-sheet .close-article-share {
        font-size: 2.6em;
    }

    #articles,
    #sidebar {
        float: none;
        width: 100%;
    }

    #load-more {
        width: 90%;
    }
}

/** iPhone(ish) **/
@media (max-width: 680px) {
    .article {
        font-size: 1em;
    }

    h2 {
        font-size: 1em;
    }

    .btn-signup-toggle {
        font-size: 12px;
        line-height: 12px;
        padding: 10px 5px;
        margin: 10px 0 0;
    }

    #email-signup-overlay {
        width: 100%;
    }
}