@charset "UTF-8";

@font-face {
  font-family: "vinofeed-icons";
  src:url("fonts/vinofeed-icons.eot");
  src:url("fonts/vinofeed-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/vinofeed-icons.woff") format("woff"),
    url("fonts/vinofeed-icons.ttf") format("truetype"),
    url("fonts/vinofeed-icons.svg#vinofeed-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vinofeed-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vinofeed-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "a";
}
.icon-facebook-boxed:before {
  content: "b";
}
.icon-twitter:before {
  content: "c";
}
.icon-bookmark:before {
  content: "d";
}
.icon-bookmark-o:before {
  content: "e";
}
.icon-share:before {
  content: "f";
}
